#setup twitter client
$consumer_key = "CONSUMER_KEY"
$consumer_secret = "CONSUMER_SECRET"
$access_token = "ACCESS_TOKEN"
$access_token_secret = "TOKEN_SECRET"

#setup facebook info
$fb_access_token = "FB_ACCESS_TOKEN"

#setup ftp info
$ftp_user = "FTP_USERNAME"
$ftp_password = "FTP_PASSWORD"
